--swiftversion 6.2
--exclude .build,.swiftpm,.worktrees,Packages,node_modules,docs/.vitepress
--disable andOperator,blankLineAfterImports,blankLinesAroundMark,blankLinesAtEndOfScope,blankLinesAtStartOfScope,blankLinesBetweenScopes,braces,conditionalAssignment,consecutiveBlankLines,consecutiveSpaces,consistentSwitchCaseSpacing,elseOnSameLine,emptyBraces,enumNamespaces,extensionAccessControl,genericExtensions,headerFileName,hoistAwait,hoistPatternLet,hoistTry,indent,modifierOrder,numberFormatting,opaqueGenericParameters,preferCountWhere,preferKeyPath,redundantFileprivate,redundantInternal,redundantPublic,redundantRawValues,redundantReturn,redundantSelf,redundantType,sortImports,spaceAroundOperators,trailingCommas,trailingSpace,typeSugar,unusedArguments,wrapArguments,wrapLoopBodies,wrapMultilineStatementBraces
